
    {% include 'chart_aspect_ratio_work.html' %}
    <div class="pop" id="pop">



<img name="pop_img01" src="" height="100"id="pop_img01">
<img name="pop_img02" src="" height="100"id="pop_img02">
<img name="pop_img03" src="" height="100"id="pop_img03">
<img name="pop_img04" src="" height="100"id="pop_img04">
<img name="pop_img05" src="" height="100"id="pop_img05">

<img name="pop_img06" src="" height="100"id="pop_img06">
<img name="pop_img07" src="" height="100"id="pop_img07">
<img name="pop_img08" src="" height="100"id="pop_img08">
<img name="pop_img09" src="" height="100"id="pop_img09">
<img name="pop_img10" src="" height="100"id="pop_img10">

<img name="pop_img11" src="" height="100"id="pop_img11">
<img name="pop_img12" src="" height="100"id="pop_img12">
<img name="pop_img13" src="" height="100"id="pop_img13">
<img name="pop_img14" src="" height="100"id="pop_img14">
<img name="pop_img15" src="" height="100"id="pop_img15">

<img name="pop_img16" src="" height="100"id="pop_img16">
<img name="pop_img17" src="" height="100"id="pop_img17">
<img name="pop_img18" src="" height="100"id="pop_img18">
<img name="pop_img19" src="" height="100"id="pop_img19">
<img name="pop_img20" src="" height="100"id="pop_img20">


<img name="pop_img" src="" height="200"id="pop_img" >

<p><div id="pop_id">Gigapan ID: </div>
<div id="pop_list"></div>
</div>

