<!-- /Users/rich/wa/django/mysite/template/gigapan/gigapan.html -->
<!-- one gigapan -->

<!-- link rel="stylesheet" href="/css/main.css" -->
todo: options for how many per column/row/page and image sizes
{% if gigapan %}
    <h2>{{ gigapan.name }}</h2>
    <div>        
        <a href="http://gigapan.com/gigapans/{{ gigapan.gigapan_id }}" target="top">
           <img src="/img/{{ gigapan.gigapan_id}}.jpg"><br>//img/{{ gigapan.gigapan_id}}.jpg<br>
        </a>  

        <iframe src="http://www.gigapan.com/mobile/iOS/1.0/?id={{ gigapan.gigapan_id }}" width="800" height="600"></iframe>
        <br>(gigapan.com/mobile)<br>
Code to Embed that view<br>
<div class="codeblock">        
&lt;figure class="gigapan"><br>
&nbsp;&nbsp;&lt;iframe src="http://www.gigapan.com/mobile/iOS/1.0/?id={{gigapan.gigapan_id}}" width="800" height="600">&lt;/iframe&gt;<br>
&nbsp;&nbsp;&lt;figcaption&gt;<br>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="http://gigapan.com/gigapans/{{gigapan.gigapan_id}}">"{{gigapan.name}}" by {{gigapan.owner_fullname}}&lt;/a&gt;<br>
&nbsp;&nbsp;&lt;/figcaption&gt;<br>
&lt;/figure&gt;<br>
</div> <!-- codeblock-->
        <iframe src="http://www.3d-360.com/{{ gigapan.gigapan_id }}" width="800" height="600"></iframe>
        <br>(3d-360.com)<br>
    
        <table width="100%">
        <tr>
          <td valign="top" width="30%">
            <a href="http://gigapan.com/gigapans/{{ gigapan.gigapan_id }}" target="top">view on gigapan.org</a>
            <a href="http://www.3d-360.com/{{ gigapan.gigapan_id }}" target="top">3d-360 view</a>
          
            {{ gigapan.name }}<br>
            {{ gigapan.tagstring  }} <br>
            {% for tag in gigapan.tags.all %}
              <a href="/gigapans/bytag/{{ tag.name }}">
                {{ tag.name }}
              </a>,&nbsp;
            {% endfor %}
            
            {% if  gigapan.latitude %}
                ({{ gigapan.latitude }}, {{ gigapan.longitude }})
            {% else %}
                Gigapan not georeferenced
            {% endif %}
            <hr>
    
            <div class="hideable">
              <form id="edit_form"  action="/gigapan/{{ gigapan.id }}" method="post"> <!--{ % csrf_token % } -->
              {% for field in form %}
                  <div class="fieldWrapper">
                      {{ field.errors }}
                      {{ field.label_tag }}: {{ field }}
                  </div>
               {% endfor %}
               <p><input type="submit" value="Save changes" /></p>
            </div>
            <p><input type="submit" value="show edit form" onClick="alert('fuck');document.getElementById('edit_form').opacity=.8;return()" /></p>
            <ul>
                <li><a href="/gigapans/gfat/{{ gigapan.id }}">GigaPan Feature Annotation Tool - GFAT </a>
                <li><a href="http://gigapan.com/gigapans/{{ gigapan.gigapan_id }}" target="top">view on gigapan.org</a> &nbsp; 
                <li><a href="http://www.3d-360.com/{{ gigapan.gigapan_id }}" target="top">view on 3d-360.com</a>
            </ul>
          </td>
        </tr>
      </table>
    </div>


    <div>
        <hr>
        <h2>Eyegorithm results</h2>
        <ul>    
        <li><img src="/eye/{{ gigapan.gigapan_id }}_layer1.png">layer1.png
        <li><img src="/eye/{{ gigapan.gigapan_id }}_layer2.png">layer2.png
        <li><img src="/eye/{{ gigapan.gigapan_id }}_maskchromatic.png" width="600">maskchromatic
        <li><img src="/eye/{{ gigapan.gigapan_id }}_maskmap.png">maskmap
        <li><img src="/eye/{{ gigapan.gigapan_id }}_maskmapold.png">maskmapold
        <li><img src="/eye/{{ gigapan.gigapan_id }}_masknumbers.png">masknumbers
        <li><img src="/eye/{{ gigapan.gigapan_id }}_maskoriginal.png">maskoriginal
        </ul>
        id_layer1.txt
        id_layer2.txt
        id.json
    </div>
    
{% else %}
    <p>No gigapan found meet filters, or none exist. .</p>
{% endif %}



