<!--
look at tumblr /archive for a nice format. 
-->
{% if tag_list %}
tag_list {{ tag_list }}<br>
{% endif %}

{% if p %}
  Showing images tagged: <b>{{ p }}</b> 
      {% if foobar %}
        <form  action="/gigapan/" method="post"> <!--{ % csrf_token % } -->
        <label for="id_oldtag">Existing Tag:</label>
        <input id="id_oldtag" type="text" name="oldtag" maxlength="100" value="{{ p }}"/>
        <label for="id_latitude">Existing Latitude:</label>
        <input id="id_latitude" type="text" name="latitude" maxlength="100"/>
        <label for="id_newtag">NewTag:</label>
        <input id="id_newoldtag" type="text" name="newtag" maxlength="100"/>
    {% endif %}
    <p>
{% endif %}

{% if gigapans %}
    <div class="nav_local">
        <br>
        {{header}} {{ nav.start }} to {{ nav.end }} of {{ nav.gigapan_cnt }} 
        <a href="/gigapans/{{ nav.prev }}">Perv</a> | (page {{ nav.page }}/{{ nav.page_cnt}} ) | <a href="{{ nav.next_link }}">Next</a><br>
        <!-- download kml -->
    </div>
    <div class="gigapans">
        {% for g in gigapans %}
                <a href="/gigapan/{{ g.id }}" target="top"  class="Xhoverbaby" >
                   <!-- <img src="/img/{{ g.thumbnail_filename}}" height="150" width="150"> -->
                   <img src="/img/{{ g.gigapan_id }}.jpg" height="20%" width="20%">

                    <!-- 
                       <img src="/img/{{ g.thumbnail_filename}}" height="250" width="250">
                    -->
                     <!-- <p>{{g.name}}{{g.updated}}</p> -->
                </a>
            {% if edit %}
                <br>Edit<br>
                <form action="/gigapan/index/" method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" />
                </form>
            {% endif %}
        {% endfor %}
    </div> <!-- end class gigapans -->
    <div class="nav_local">
        {{header}} {{ nav.start }} to {{ nav.end }} of {{ nav.gigapan_cnt }} 
        <a href="/gigapans/{{ nav.prev }}">Perv</a> | (page {{ nav.page }}/{{ nav.page_cnt}} ) | <a href="/gigapans/{{ nav.next }}">Next</a>
    </div>
{% else %}
    <p>No gigapans meet filters, or none exist. .</p>
{% endif %}


<div class="text_list">
    &nbsp;<p>
    &nbsp;<p>
    <br>Text listing <br>
    {% if gigapans %}
        <ol class="niceList">
        {% for g in gigapans %}
            <li><a href="/gigapan/{{ g.id }}">
               {{ g.name }}
                <!-- <img src="img/.jpg" width="800" height=""><br>
                (View {{ g.gigapixels }} gigapixel image on GigaPan.org) -->
                </a>
            </li>
                <!-- { { g.description }} -->
        {% endfor %}
        </ol>
    {% else %}
        <p>No gigapans meet filters, or none exist. .</p>
    {% endif %}
</div>

