<h2>My World of Gigapans</h2>

I see multi-image photography as an important tool. This site 
reflects my research efforts using (primarily) the Gigapan.com
platform as a base.

gigapan links<p>

<ul>
    <li>kilgore http://www.kilgore.org.uk/stats/stats-home.html
    <li>cropping images/creating thumbnails...
    <li>intelli--crop
</ul>

<!--
Tasks:
<ul>
<li>check dates in my model, missing create date?, add to model.
<li>update code - to update fields from gigapan.org, like new dates, tags, ? 
<li>kml: need to calculate an initial LookAt
<li>
<li>
<li>
</ul>
-->
I have taken gigapans in nine states. Hawaii, Washington, Oregon, California, Nevada, Arizona, Pennsylvania, New Jersey, and New York.
And in five Countries. The USA, Great Britain, The Netherlands, Germany, and Austria.
<p>
<!--
Notes: I want geo django, and probably spatialite for sqlite3, (https://docs.djangoproject.com/en/dev/ref/contrib/gis/install/)
but it seems easier for now to do the simplest least useless thing
<hr>
Gigapan Feature Annotation Tool...GFAT
--open layers on top of gigapan with vector annotation
--
<hr>
-->

dichotomous keys from snapshots
<hr>
why doesn't add_tag.py find gigapans, the same code works within a view :-(
python ./add_tag.py --oldtag=vienna --newtag wien | more
hmmm...make it a view?
<hr>
<!--
            <h2>Current...</h2>

                Aug 9, 2012 Gene Cooper and I showed Gigapixel Science in the SIGGRAPH Studio. I took high resolution portraits, many of which are now processed and up on the <a href="http://gigapan.com/gigapans?order=most_recent&query=siggraph_studio_2012">GigaPan site.</a> If we chatted about anything, please drop me a line! And if I took your protrait but it is not yet up give me a week to process images, but then _please_ contact me - if it is not processed within a week I may need a reminder to help me to find it!
<p>
Gene and I also gave a SIGGRAPH Studio talk. Here is an <a href="http://scaleindependent.com/presentations/siggraph_2012.index.html">HTML view of the slides.</a>
-->
