        <meta name="Title" content="SCALEINDEPENDENT">
        <meta name="Author" content="Rich Gibson">
        <meta name="Publisher" content="Rich Gibson">
        <meta name="Copyright" content="Rich Gibson">
        <meta name="Revisit" content="After 1 days">
        <meta name="Keywords" content="gigapan, scaleindependent, imaging, high resolution, portraits, microscopy, rich gibson, portography, portfolio">
        <meta name="Description" content="I take high resolution images, write about imaging technology, create new ways of seeing. This is my Portfolio.">
        <meta name="Abstract" content=""
        <meta name="page-topic" content="Portfolio">
        <meta name="audience" content="All">
        <meta name="Robots" content="INDEX,FOLLOW">
        <meta name="Language" content="English">

        <meta name="date" content="2011-12-19T14:20:00-08:00">
        <!-- META-TAGS END -->
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
