/* ---------------------- CSS RESET START ---------------------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

#@media screen and (min-width: 600px) and (max-width: 1700px) { }
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		color: #000;
		color: #6a4e2c;
	
		text-decoration: none;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 133%;
	}
	
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	
	/* ---------------------- CSS RESET END ---------------------- */
	
	/* --- my current wip --- */
	ol {
		list-style: decimal;
		font-size: 1.2em;
	}
	li {
		padding: 0px;
		font-size: .9em;
	}
	ul {
		list-style: disc;
	}
	body {
	  background-color: #97aec0;  
	
	  /*   background-color: #add8e6; */
	
	  width: 100%;
	  margin: 0 auto;
	}
	
	.navi {
	 
	}
	/* navi is an id because of the javascript? */
	#navi{
	position:absolute;
	background-color: #000;
	width:80%;
	/* width:730px; */
	height:1.2em;
	left:0px;
	top:0px;
	margin: 0;
	padding: 0;
	}
	#navi a{
	text-decoration: none;
	}
	
	.Xnaviitem{
	vertical-align: middle;
	#height: 100%;
	float: left;
	color: #FFF;
	font-stretch: inherit;
	font-size: 11pt;
	font-weight: bold;
	text-decoration: none;
	margin: 0 5px 0 5px;
	padding: 1px 5px 1px 5px;
	}
	.naviitem:hover{
	background-color:#FFF;
	color: #000;
	}
	#naviactive{
	background-color: #FFF;
	color: #000;
	}

	.top_header {
	  width: 1020px;
	  background-color: black;
	  #margin-left: auto;
	  #margin-right: auto;
	  #line-height: 200%;	 
	}

 @media screen and (max-width: 1000px)  { 
	.top_header {
	  width: 450px;
	}   
  }	

.nav_local {
	float: left;
}
.gigapans {
	float: left;
	background-color: black;
}

.codeblock {
	font-family: courier;
	font-size: 1.0em;
	background-color: white;
	color: black;
}
.month {
	float: left;
	border: 1px solid;
	width:150px;
	background-color: white;
}
.year {
	float: left;
	border: 2px solid;
	background-color: grey;
}
.big {
	width: 1000px;
}
.tag_cloud {

	/* 
	
	float: left;
	padding:.1em; */
}

/* gigapan mouse over to resize, remove 'X' to apply the style (ie. the gigapans
are set with class="hoverbaby" */
.hoverbaby {
	width:250;
	height:250;
	float:left;
	#display:none;
	#line-height:1%;
	#vertical-align:center;
	#font-size:.0em;
	resize:both;
overflow:auto;
	border:0px solid;
	border-radius:0px;
	-moz-border-radius:0px; /* Firefox 3.6 and earlier */
}
.Xhoverbaby:hover {
 #width:500;
 #height:500;
 border:2px solid;
 #border-radius:25px;
 #-moz-border-radius:25px; /* Firefox 3.6 and earlier */

 #background-color:yellow;
 #color:red;
 #display:inline;
 #line-height:100%;
 #font-size:1em;
# transform: rotate(180deg);
#-ms-transform: rotate(180deg); /* IE 9 */
#-webkit-transform: rotate(180deg); /* Safari and Chrome */
#-o-transform: rotate(180deg); /* Opera */
#-moz-transform: rotate(180deg); /* Firefox */

 transform: scale(1.5,1.5);
-ms-transform: scale(1.5,1.5); /* IE 9 */
-webkit-transform: scale(1.5,1.5); /* Safari and Chrome */
-o-transform: scale(1.5,1.5); /* Opera */
-moz-transform: scale(1.5,1.5); /* Firefox */

}	
# hide the sidebar if the screen is too narrow. 
   .sidebar {
		background-color: #d4b384;
		left_margin: 0px;
		width: 200px;
		border: 1px solid black;
	} 	
  
  
  /* @media screen and (max-width: 999px)  { 
	.sidebar {
	  width: 0px;
	  background-color: #d4b384;
	  left_margin: 0px;
	}   
  } */
  
  .right {
  	float: right;
  	}
  	
	.contacts {
	#height:32px;
	#padding-left: 50px;
	#position: relative;
	#left-margin: 10px;
	#background-position: left top;
	#background-repeat: no-repeat;
	}
	
	
	.profile_photo {
		width: 200px;
	}

	
	.main_content {
		border: 0px solid black;
		background-color: #efe0c9;
		width: 820px;
		/* 		width: 1100px; */
		margin: 0px;
		left-margin: 0px;
		#padding: auto;
	}

	.gigapan_thumbnail {
		#float: left;
	}	

/*
@media screen and (min-width: 1250px)  { 
	.main_content {
	  width: 1000px;
	}   
  }

 @media screen and (max-width: 250px)  { 
	.main_content {
	  width: 250px;
	}   
  }
  @media screen and (max-width: 500px)  { 
	.main_content {
	  width: 500px;
	}   
  }
 
 @media screen and (max-width: 800px)  { 
	.main_content {
	  width: 800px;
	}   
  }
 @media screen and (max-width: 1000px)  { 
	.main_content {
	  width: 1000px;
	}   
  }
*/
  


	
	.sidebar, .profile_photo, .main_content {
		float: left;
	}
	
	.container {
	  #background-color: #c1b298;
	  background-color: #d4b384;
	  #width: 1000px;
	  margin-left: auto;
	  margin-right: auto;
	}
	
	/* --- my current wip end --- */
	
	html {
	font-family: georgia, 'times new roman', times, serif;
	color:#333;
	line-height:135%;
	font-size: 11pt;
	font-style: normal;
	background-image: "img/iso_12233-reschart.jpg";
	}
	a {
	color: #0071bc;
	}
	a:hover {
	color:#99ccff;
	}

	h1,h2,h3,h4 {
		font-family:verdana,arial,sans-serif;
	}

	h2 {
	height: 1.5em;
	font-size: 2em;
	font-style: oblique;
	color: #FFF;
	/* vertical-align: bottom; */
	background-color: #555;
	margin-bottom: .5em;
	margin-top: .5em;
	}
	h2 a{
	text-decoration: none;
	}
	h3 {
	font-size: 1.5em;
	font-style: oblique;
	color: #FFF;
	background-color: #555;
	margin-bottom: 5px;
	}
	h3 a{
	text-decoration: none;
	}
	
	.calendar_year {
		background-color: grey;
	}
	h4 {
	font-size: 1.0em;
	font-family:Arial;
	font-style: oblique;
	color: #FFF;
	background-color: #555;
	margin-bottom: 5px;
	}
	h4 a{
	text-decoration: none;
	}
	.text_list {
		display:block;
	}
	p {
		font-family: georgia,verdana,arial,sans-serif;
		line-height: 150%
		font-size: small;
		font-weight: normal;
		color(rgb(51,51,51);
	}
	
	
	#contact {
	position: absolute;
	left: 760px;
	/* top:58px; */
	width:200px;
	font-weight: bold;
	line-height: 1.2em;
	background-image: url(graphics/transparentwhite.png);
	}
	#contact a {
	text-decoration: none;
	color: inherit;
	}
	.sociallinks {
	#float: right;
	#width:31px;
	#height:31px;
	#margin: 0 22px 0 0;
	}
	#lastsocial {
	margin: 0;
	}
	
	#telefon {
	background-image: url(graphics/icon_telefon.png);
	}
	#mail {
	background-image: url(graphics/icon_mail.png);
	margin-bottom: 0;
	}
	
	
	
		
	#showroom {
	position:absolute;
	top:0;
	width: 400px;
	height: auto;
	}
	#showroom .video{
	margin:0 0 30px 0;
	}
	#showroom #lastvid{
	margin: 0;
	}
	.video {
	position: relative;
	margin: 0 0 48px 0;
	}
	#screencaps {
	position: relative;
	width: 760px;
	margin: 0 0 18px 0;
	}
	.screencap{
	position: relative;
	float: left;
	margin: 0 30px 30px 0;
	width: 350px;
	height: 200px;
	}
	
	#profilbild{
	z-index: -1000;
	position: relative;
	bottom: 10;
	top:75px;
	left: 20px;
	width:200px;
	height:278px;
	}
	
	#text {
	position:absolute;
	font-family: Arial;
	left:250px;
	top:75px;
	width:600px;
	background-image: url(graphics/transparentwhite.png);
	}
	#resumetext {
	position:absolute;
	font-family: Arial;
	left:30px;
	top:0;
	width:600px;
	background-image: url(graphics/transparentwhite.png);
	}
	
	#picture {
	position:relative;
	font-family: Arial;
	left:0px;
	top:15; 
	width:100%;
	height:100%;
	/* background-image: url(graphics/transparentwhite.png); */
	}
	
	#text #fett {
	font-style: oblique;
	background-color: #f00;
	}
	.clear {
	clear : both;
	}
	.unterteilung{
	height:1px;
	width:50px;
	background-color: #000;
	margin:5px 0 20px 0;
	}
	#content{
	position: absolute;
	width:760px;
	top:100px;
	left: 0;
	}
	#blogcontent{
	position: absolute;
	width:730px;
	top:200px;
	left: 0;
	font-family: Arial;
	}
	.entry{
	position: relative;
	font-size:10pt;
	color: #000;
	width:350px;
	height:210px;
	float:left;
	text-align: left;
	margin: 0 30px 30px 0;
	padding:0;
	overflow:show;
	}
	.entry h2{
	margin: 0;
	}
	.thumb{
	position: relative;
	width: 350px;
	height: 200px;
	}
	.odd{
	background-color: #e5e5e5;
	}
	.entry:hover h2{
	background-color: #000;
	}
	
	.description{
	position: relative;
	width: 730px;
	margin: 0 0 10pt 0;
	}
	.description h2{
	margin:0 0 10pt 0;
	}
	.description table{
	font-family: Arial;
	width: 100%;
	}
	.leftrow{
	width: 150px;
	}
	.back{
	margin: 10pt 0 50px 0;
	text-decoration: underline;
	}
	
	.trivia{
	font-family: Arial;
	position: relative;
	width: 720px;
	float:left;
	margin: 0 0 10pt 0;
	background-color:#e5e5e5;
	padding: 5px; 
	}
	.additional{
	font-family: Arial;
	position: relative;
	width: 730px;
	float:left;
	margin: 0 0 10pt 0;
	}
	.downloadlink{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	line-height: 1.2em;
	text-decoration: underline;
	}
	.more{
	text-decoration: underline;
	}
	
	#bloglogo{
	position:absolute;
	left:387px;
	top:0px;
	width:343px;
	height:138px;
	}
	
	/* TWEETS START */
	#twitter{
	/*width: 300px;*/
	float: left;
	padding: 0;
	}
	
	#twitter img{
	width: 100px;
	}
	
	.tweet{
	margin: 0 0 10px 0;
	/*width:300px;*/
	padding: 0 0 10px 0;
	background-image: url(graphics/stroke200px555.png);
	background-position: bottom left;
	background-repeat: no-repeat;
	}
	#twitter p{
	padding: 0;
	margin: 0;
	}
	#twitter strong{
	font-style: italic;
	color: gray;
	}
	/* TWEETS END */
	
	/* niceList from http://jonahellison.com/style-perfect-html-lists-ul-li-ol-li */
	ul.niceList { 
	  margin-left:0em; 
	  padding-left:0.2em; 
	  margin-bottom:0em; 
	}
	ul.niceList li { 
	  background:url(img/bullet.gif) 0em 0.5em no-repeat; /* change background em accordingly */
	  padding-left: 0.8em; 
	  list-style: none; 
	}
	#.niceList ul li { background-image:url(img/bullet_child.gif); }
	 
	ol.niceList li, ul.niceList li { margin-bottom:0em; }
	 
	ol.niceList { 
	  margin-left:2.0em; 
	  padding-left:0px; 
	}
	.niceList ol li { 
	  list-style:decimal; 
	  background-image:none; 
	  padding-left:0em; 
	}
	
	/**
	 * For modern browsers
	 * 1. The space content is one way to avoid an Opera bug when the
	 *    contenteditable attribute is included anywhere else in the document.
	 *    Otherwise it causes space to appear at the top and bottom of elements
	 *    that are clearfixed.
	 * 2. The use of `table` rather than `block` is only necessary if using
	 *    `:before` to contain the top-margins of child elements.
	 */
	.cf:before,
	.cf:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}
	
	.cf:after {
		clear: both;
	}
	
	/**
	 * For IE 6/7 only
	 * Include this rule to trigger hasLayout and contain floats.
	 */
	.cf {
		*zoom: 1;
	}










